body {
  margin: 0;
}

header {
  background-color: burlywood;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.search-icon,
.account-icon {
  width: 1.6em;
  cursor: pointer;
}

.search-container {
  display: flex;
}

.search-box {
  display: none;
}

.search-box.active {
  display: flex;
  margin: 0 10px;
}

.search-box.active button,
input {
  margin-left: 5px;
  font-size: 1.1em;
}

.mobile-logo {
  display: none;
}

/* 화면 너비가 768px 이하일 때 돋보기 아이콘을 숨기고, 햄버거를 표시 */
@media (max-width: 768px) {
  .search-icon {
    display: none; /* 숨기기 */
  }

  .icon {
    text-decoration: none;
  }
  .icon::before {
    content: "\2630";
    font-size: 1.6em;
    color: black;
  }

  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    display: block;
    width: 35vw;
  }

  nav a {
    font-size: 1em;
  }
}

.desktop-logo {
  width: 35vw; /*고정*/
  margin: 1em;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; /* 여러 행으로 나누어 표현*/
  border-bottom: 5px double black;
  padding: 1em;
}

nav button {
  background-color: white;
  border: none;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.1em;
}

.article-img {
  max-width: 100%; /* 최대 넓이는 부모 넓이의 100%*/
  max-height: 250px;
}

.one-news {
  border-bottom: 1px solid black;
  padding: 1em 1em 0;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
}
